version: "3.0"

services:

  database:
    image: davidmacer/serloc_db
    container_name: cont-postgis
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    networks:
      database_network:
        ipv4_address: 172.16.238.10

  app:
    image: davidmacer/serloc_app
    container_name: cont-serloc
    restart: always
    network_mode: github_database_network
    ports: 
      - "8000:4040"
      
volumes:
  app:

networks:
  database_network:
    ipam:
      driver: default
      config:
        - subnet: "172.16.238.0/24"
